
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Capacity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stadium of stadia ">
        
        <td>{{stadium._id}}</td>
        <td>{{stadium.name}}</td>
        <td>{{stadium.country}}</td>
        <td>{{stadium.capacity}}</td>
        
        <td>
           <button type="button" class="btn btn-info" >display</button> 
          <!-- <button type="button" class="btn btn-warning" (click)="goToEdit(player._id)">edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(player._id)">delete</button>
            -->
           
        </td>
      </tr>

      
     
    </tbody>
  </table>


