<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Foundation</th>
        <th scope="col">studuim</th>
        <th scope="col">Owner</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams" >
        <td>{{team._id}}</td>
        <td>{{team.name}}</td>
        <td>{{team.foundation}}</td>
        <td>{{team.studuim}}</td>
        <td>{{team.owner}}</td>
        <td>
           <button type="button" class="btn btn-info" (click)="goToDisplay(team._id)">display</button>
          <button type="button" class="btn btn-warning" (click)="goToEdit(team._id)">edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(team._id)">delete</button> 
           
        </td>
      </tr>
    </tbody>
  </table>
